header{
	background:#155D49;
	color:#fff;
}
.main{
	background:#f2f2f2;
}
.color1{
	background:#34495e;
	color:#fff;
}
aside{
	background:#1055FF;
	color:#fff;
}
footer{
	background:#16a085;
	color:#fff;
}
h2{
	background:#1096FF;
	color:#fff;
}
h4{
	color:#1096FF
}
h6{
	color:#1096FF
}
#flip {
 	 padding: 5px;
 	 text-align: center;
 	 background-color: #e5eecc;
 	 border: solid 1px #c3c3c3;
		}
